<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<!-- (onLazyLoad)="loadLazy($event)" (onColReorder)="colReorder($event)" dataKey="id" [columns]="columns" -->

<!-- scrollHeight="70vh" vh leads to wrong table style after sorting asc/desc -->
<p-table #dt sortMode="multiple" [multiSortMeta]="multiSortMeta" [value]="users" [paginator]="true" [rows]="90"
  [scrollable]="true" scrollHeight="500px" frozenWidth="300px" [lazy]="true" [totalRecords]="1000" [loading]="loading"
  (onLazyLoad)="loadLazy($event)" (onColReorder)="colReorder($event)" dataKey="id" [expandedRowKeys]="expandedRows"
  [reorderableColumns]="true" [columns]="scrollableCols" [frozenColumns]="frozenCols">
  <ng-template pTemplate="caption">
    <div style="text-align: center">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Global Filter"
        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngIf="columns.type === 'frozen'" style="width: 3em">
      <col *ngFor="let col of columns" style="width:300px">
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngIf="columns.type === 'frozen'" style="width: 3em"></th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" pReorderableColumn>
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
    <!-- <tr> -->
    <!-- <th style="width: 3em"></th> -->
    <!-- <th *ngFor="let col of columns"> -->
    <!-- <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')"> -->
    <!-- </th> -->
    <!-- </tr> -->
  </ng-template>
  <ng-template pTemplate="body" let-user let-expanded="expanded" let-columns="columns">
    <tr>
      <td *ngIf="columns.type === 'frozen'" style="width: 3em; height: 35px;">
        <a href="#" [pRowToggler]="user">
          <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" (click)="lazyExpand(user)"></i>
        </a>
      </td>
      <td *ngFor="let col of columns" style="height: 35px">
        {{user[col.field]}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-user let-columns="columns">
    <tr>
      <td [attr.colspan]="columns.length + 1" *ngIf="columns.type === 'frozen'">
        <div class="ui-g ui-fluid" style="font-size:16px;padding:20px;height: 220px;">
          <div class="ui-g-12 ui-md-9">
            <div class="ui-g">
              <div class="ui-g-12">
                <b>Id:</b>
              </div>
              <div class="ui-g-12">
                <b>Firstname:</b>
              </div>
              <div class="ui-g-12">
                <b>Lastname:</b>
              </div>
              <div class="ui-g-12">
                <b>Email:</b>
              </div>
              <div class="ui-g-12">
                <b>Spitzname:</b>
              </div>
            </div>
          </div>
        </div>

      </td>
      <td [attr.colspan]="columns.length" *ngIf="columns.type === 'scrollable'">
        <div class="ui-g ui-fluid" style="font-size:16px;padding:20px;height: 220px;">
          <div class="ui-g-12 ui-md-9">
            <div class="ui-g">
              <div class="ui-g-12">
                {{user.id}}
              </div>
              <div class="ui-g-12">
                {{user.firstName}}
              </div>
              <div class="ui-g-12">
                {{user.lastName}}
              </div>
              <div class="ui-g-12">
                {{user.email}}
              </div>
              <div class="ui-g-12">
                {{user.spitzname}}
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
