<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<p-table sortMode="multiple" [multiSortMeta]="multiSortMeta" [value]="users" [paginator]="true" [rows]="90"
  [scrollable]="true" scrollHeight="70vh" [lazy]="true" [totalRecords]="1000" [loading]="loading"
  (onLazyLoad)="loadLazy($event)" dataKey="id" [columns]="columns" [expandedRowKeys]="expandedRows">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3em"></th>
      <th [pSortableColumn]="'id'">
        Id
        <p-sortIcon [field]="'id'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'firstName'">
        Firstname
        <p-sortIcon [field]="'firstName'"></p-sortIcon>
      </th>
      <!-- <th [pSortableColumn]="'lastName'"> -->
      <!-- Lastname -->
      <!-- <p-sortIcon [field]="'lastName'"></p-sortIcon> -->
      <!-- </th> -->
      <th>Lastname</th>
      <th [pSortableColumn]="'email'">
        Email
        <p-sortIcon [field]="'email'"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user let-expanded="expanded" let-columns="columns">
    <!-- {{ expanded ? lazyExpand(user) : ""}} -->
    <tr>
      <td style="width: 3em">
        <a href="#" [pRowToggler]="user">
          <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
        </a>
      </td>
      <td>{{user.id}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-user let-columns="columns">
    <tr>
      <td [attr.colspan]="columns.length + 2">
        <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
          <div class="ui-g-12 ui-md-9">
            <div class="ui-g">
              <div class="ui-g-12">
                <b>Id:</b> {{user.id}}
              </div>
              <div class="ui-g-12">
                <b>Firstname:</b> {{user.firstName}}
              </div>
              <div class="ui-g-12">
                <b>Lastname:</b> {{user.lastName}}
              </div>
              <div class="ui-g-12">
                <b>Email:</b> {{user.email}}
              </div>
              <div class="ui-g-12">
                <b>Spitzname:</b> {{user.spitzname}}
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
